header{
    background-color: rgb(255, 158, 158);
    text-align: center;
}

nav {
    text-align: right;
}
main{
    background-color: rgb(241, 161, 161);
}
footer{
    background-color: rgba(203, 132, 73, 0.683);
}
body {
    background-color: rgb(174, 228, 152);
}
#imgSet{
    float: left;
    margin-right: 150px;
    margin-left: 50px;
}

form{
    text-align: center;
}
#drawbttn{
    clear: both;
    width: 100px;
    text-align: center;
    margin-top: 50px;
    border: 0;
    box-shadow: 0 0 10px 10px rgb(255, 226, 167);
}